#section1{
    position: fixed;
    top: 0;  
}
.section1-flex{
   display: flex;
   align-items: center; 
   justify-content: center;
   gap: 20px;
   position: fixed;
   top: 0;
   margin-top: 30px;
}
section1-button{
    margin-left: 50px;
}
.button-font{
    position: relative;
}
.search-line::after{
    content: "";
    width: 1px;
    height: 40px;
    background-color: black;
    position: absolute;
    top: 0;
}
.goxjub,.Gdd5U{
    width: 24px;
    height: 24px;
}
.s-icon{
    color: #4285f4;
    width: 24px;
    height: 24px;
}
.goog{
    padding-left: 30px;
}
.Bclass{
  border: 1px solid lightgray;
  color: #d3d3d3;
  background-color: #ffff;
  border-radius: 30px;
  padding: 2px 25px;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  font-size: 16px;
  margin: 2px 2px;
  margin-left: -30px;
  height: 50px;
  cursor: pointer;
}
.buttonflex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;
}
.section2{
    margin-top: 120px;
}
.section2-icon{
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  margin-left: 203px;
  padding-left: 10px 0;
  margin-top: 70px;
}
.toplinks{
    color: #4d5156;
    text-decoration: none;
}
.toplink{
    color: #1a0dab;
}
.border{
    border: 1px rgba(211, 211, 211, 0.286) solid;
    margin-top: 10px;
}
.underborderH{
    margin-left: 200px;
}
.Cname{
    font-weight: 500;
}
.underborder{
    font-weight: 600;
    color: #4d5156;
    font-size: 18px;
}
.underflex{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin-top: -30px;
}
.underborder-flex{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 150px;
}
.underbutton{
    margin-top: -60px;
    display: flex;
    gap: 7px;
}
.bud{
  border: 1px solid #0060F0;
  color: #0060F0;
  background-color: #C2DBFF;
  border-radius: 30px;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.section3-flex{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2px; 
}
.longflex{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 10px;
}
.otherside{
    padding-left: 50px;
    margin-top: -20px;
}
.othersideh{
    font-weight: 300;
    font-size: 18px;
}
.otherbud{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 20px;
    border: 1px solid lightgrey;
    color: rgba(0, 0, 0, 0.666);
    background-color: #ffff;
    border-radius: 30px;
    padding: 1px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
}
.otherbflex{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}
.firstp{
    font-size: 16px;
    width: 345px;
    line-height: 25px;
    color: #4d5156;
}
.otherparagraph{
    width: 345px;
    line-height: 25px;
    color: #4d5156;
    font-size: 20px;
}
.firstlink{
    color: #1a0dab;
}
.strength{
    font-weight: 700;
    color: black;
}
.button2{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    
}
.button2t{
    color: #4d5156;
    font-weight: 400;
    font-size: 14px;
}
.border2{
    border: 0.5px rgba(211, 211, 211, 0.286) solid;
    margin-top: 20px;
}
.instagram{
    display: inline-block;
    align-items: center;
}
.next{
    font-weight: 500;
    font-size: 22px;
}
.nextflex{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    column-gap: 20px;
}
.nextlink{
    color:#4d5156;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}
:hover.nextlink{
    text-decoration: underline;
}
.statflex{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 20px;
}
.statlink{
    color: black;
    font-weight: 400;
    text-decoration: none;
}
:hover.statlink{
    text-decoration: underline; 
}
.portugal{
    color: rgba(0, 0, 0, 0.836);
    font-weight: 400;
    text-decoration: none;
    font-size: 16px;
}
:hover.portugal{
    text-decoration: underline; 
}
.headflex{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.border3{
    border: 0.5px rgba(211, 211, 211, 0.286) solid;
    margin-top: -5px;
}
.headflex1{
    font-size: 14px;
}
.headflex2-link{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    line-height: 25px;
    width: 400px;
}
.linebreak{
  width: 150px;
  color: rgba(0, 0, 0, 0.836);
  font-weight: 500;
  text-decoration: none;
  font-size: 16px;  
}
:hover.linebreak{
    text-decoration: underline; 
}
.search{
    font-weight: 500;
    font-size: 22px;
}
.search-flex{
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 5px;
}
.radius{
   border-radius: 10px; 
}
.word{
    width: 10px;
    padding-left: 30px;
}
:hover.word{
    text-decoration: underline;
}
.seebutt{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;border: 1px solid lightgrey;
    color: rgba(0, 0, 0, 0.666);
    background-color: rgba(211, 211, 211, 0.715);
    border-radius: 30px;
    padding: 1px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
}
.too{
    margin-top: 65px;
    line-height: 15px;
}
.toph{
    font-size: 24px;
    font-weight: 500;
}
.top{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    font-size: 20px;
    font-weight: 300;
    color: black;
}
.topag{
    color: black;
    text-decoration: none;
}
:hover.topag{
    text-decoration: underline;
}
.leftdiv{
    margin-top: 30px;
    width: 350px;
}
.mcafee_ok{
    width: 16px;
    height: 16px;
}
.punch{
    padding-top: 10px;
}
.wife2-div{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.wife-text{
    
}
.leftside{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
}
.rightdiv{
    width: 350px;
    margin-top: 30px;
}
.what{
   margin-top: 10px;
   line-height: 25px;
}
:hover.whatlink{
    text-decoration: underline;
}
.whatlink{
    font-size: 20px;
    color: #1a0dab;
    padding-top: 30px;
    text-decoration: none;
}
.border4{
    border: 0.5px rgba(211, 211, 211, 0.286) solid;
    margin-top: 1px;
}
.wife-p{
    margin-top: 5px;
}
.wife-text{
    padding-top: 10px;
}
.cleft1{
    border-radius: 10px;
}
.cright{
    padding-top: 10px;
    border-radius: 10px;
}
.above{
    margin-top: -1px;
    font-size: 20px;
    font-weight: 400;
}
.one{
    margin-top: 5px;
}
.smallthing{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
}
.inside{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    
}
.nuum{
    margin-top: -15px;
}

.plus{
    width: 350px;
    margin-top: 20px;
}
.minus{
    width: 350px;
    margin-top: 20px;
}
.when{
    margin-top: 10px;
    line-height: 25px;
 }
 :hover.whenlink{
     text-decoration: underline;
 }
 .whenlink{
     font-size: 20px;
     color: #1a0dab;
     padding-top: 25px;
     text-decoration: none;
 }
 .questions{
    color: #4d5156;
    font-weight: 100;
 }
 .people{
    font-size: 22px;
    font-weight: 400;
 }
 .flexall{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    font-weight: lighter;
    line-height: 5px;
 }
 .liflex{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    line-height: 5px;
 }
 .notepad{
    line-height: 11px;
    margin-top: 30px;
 }
 .blue{
    font-size: 24px;
    color: #1a0dab;
    text-decoration: none;
 }
 .blu
 .sblue{
    color: #1a0dab;
    text-decoration: none;
    font-size: 15px;
    margin-bottom: 10px;
 }
 .stretch{
    font-weight: 300;
    color: #4d5156;
    font-size: 16px;
 }
 :hover.blue{
    text-decoration: underline;
 }
 .bluehead{
    font-size: 15px;
    color: #4d5156;
    width: 600px;
    font-weight: 400;
    line-height: 25px;
 }
 .pin{
    font-weight: 300;
    font-size: 22px;
 }
 .pindiv{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
 }
 .flexhead{
    font-weight: 300;
    padding-top: 10px;
    padding-bottom: 20px;
 }
 .playerdiv{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    width: 400px;
 }
 .seed{
    padding-left: 200px;
    padding-top: 20px;
    margin-bottom: 20px;
 }
 .plentyb{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 20px;
    gap: 20px;
 }
 .mainbud{
    display: flex;
    align-items: center;
    justify-content: space-around;
    column-gap: 20px;
    border: 1px solid lightgrey;
    color: rgba(0, 0, 0, 0.666);
    background-color: #f1f3f4;
    border-radius: 30px;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    width: 350px;
    margin-top: 10px;
 }
 .mainlink{
    font-size: 14px;
    text-decoration: none;
    color: #4d5156;
 }
 .google{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
    font-size: 12px;
 }
 .number{
    display: flex;
    gap: 10px;
 }
 .last-section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
 }
 .border5{
    border: 0.5px rgba(211, 211, 211, 0.286) solid;
    margin-top: 2px;
 }
 .footer{
    background-color: #f2f2f2;
    font-size: 12px;
 }
 .footer-head3{
    color: #1a0dab;
 }
 .footer-head{
    color: #4d5156;
 }
 .first-footer{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 200px;
 }
 .last-footer{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 200px;
    gap: 20px;
    color: #4d5156;
 }
 
 /*.feedback{
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
 }
 /*
 .accordion {
    color: #444;
    cursor: pointer;
    padding: 2px;
    width: 100%;
    height: 2%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  /*
  .active, .accordion:hover {
    background-color: #ccc;
  }
  /*
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }
  
 